//
// MDC Theme
//

@import '@material/theme/color-palette';

$mdc-theme-primary: #f8f8f8;
$mdc-theme-secondary: #a8a8a8;
$mdc-theme-background: #141d26;
$mdc-theme-surface: #1c2937;

$mdc-theme-error: #ef5350;
